<!-- @TODO: Remove the Bourbon-hero when you make this hero dynamic for each pages -->
<div class="all-pages-hero-container">
  <div>
    <a mat-button routerLink="">
      <mat-icon>chevron_left</mat-icon><span class="home-link">Home</span></a
    >
  </div>
  <div class="all-pages-hero-intro">
    <mat-icon
      style="width: 150px; height: 150px; font-size: 150px; color: #a45241"
    >
      sports_bar
    </mat-icon>
    <h1>{{title}}</h1>
    <p>
      Celebrate Canada's native spirit and find out about the most popular
      spirits on the market. We have the newest bottles, industry trends and
      cocktail recipes to keep you going.
    </p>
  </div>
</div>
