.footer-upper-container {
  background-color: #3f51b5;
}
.footer-lower-container,
.footer-upper-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.footer-lower-container{
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.footer-upper-title,
.footer-upper-text,
.footer-upper-captions {
  color: #fff;
}
.footer-lower-container {
  background-color: rgb(234, 222, 222);
}
mat-list-item p {
  color: #fff;
}
.footer-upper-list-wrapper {
  display: flex;
}
.footer-lower-container .warning{
  color: red;
}
/* Extra small devices (phones, 700px and down) */
@media screen and (max-width: 700px) {
  .footer-upper-title,
  .footer-upper-text {
    text-align: center;
  }
  .footer-upper-form-wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-upper-btn-wrapper {
    margin-top: 0.6rem;
  }
  .footer-upper-captions {
    margin-top: 0;
    text-align: center;
  }
  .footer-upper-list-wrapper {
    /* display: flex;  */
    justify-content: space-around;
  }
  .footer-lower-container p{
    text-align: center;
  }
}
