<div>
  <div class="footer-upper-container">
    <div>
      <h2 class="footer-upper-title">Cocktails</h2>
      <p class="footer-upper-text">
        Get our best cocktail recipes, tips, and more when you sign up for our
        newsletter.
      </p>
      <div class="footer-upper-form-wrapper">
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label style="color: #fff">Enter Email</mat-label>
            <input matInput value="" style="color: #fff" />
          </mat-form-field>
        </div>
        <div class="footer-upper-btn-wrapper">
          <button mat-flat-button>SIGN UP</button>
        </div>
      </div>
      <p>
        You can opt-out at any time. For more details, see our Privacy Policy
      </p>
    </div>
    <!-- <div>
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <mat-list>
            <mat-list-item>Recipes</mat-list-item>
            <mat-list-item>Sprints</mat-list-item>
            <mat-list-item>Beer & Wine</mat-list-item>
            <mat-list-item>Behind The Bar</mat-list-item>
            <mat-list-item>The Basics</mat-list-item>
            <mat-list-item>News</mat-list-item>
            <mat-list-item>Shop</mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item>About Us</mat-list-item>
            <mat-list-item>Terms of Use</mat-list-item>
            <mat-list-item>Career</mat-list-item>
            <mat-list-item>Guidelines</mat-list-item>
            <mat-list-item>Privacy Policy</mat-list-item>
            <mat-list-item>Advertise</mat-list-item>
            <mat-list-item>Contact</mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </div> -->
  </div>
  <div class="footer-lower-container">Lower</div>
</div>

<!-- With mat-list: to make two column: -->
<!-- https://stackoverflow.com/questions/58833607/using-angular-list-with-two-columns -->
