<div>
  <div class="footer-upper-container">
    <div>
      <h2 class="footer-upper-title">Cocktails</h2>
      <p class="footer-upper-text">
        Get our best cocktail recipes, tips, and more when you sign up for our
        newsletter.
      </p>
      <div class="footer-upper-form-wrapper">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label style="color: #fff">Enter Email</mat-label>
          <input matInput value="" style="color: #fff" />
        </mat-form-field>

        <div class="footer-upper-btn-wrapper">
          <button mat-flat-button color="accent">SIGN UP</button>
        </div>
      </div>
      <p class="footer-upper-captions">
        You can opt-out at any time. For more details, see our Privacy Policy
      </p>
    </div>
    <div class="footer-upper-list-wrapper">
      <mat-list>
        <mat-list-item><p>Recipes</p></mat-list-item>
        <mat-list-item><p>Sprints</p></mat-list-item>
        <mat-list-item><p>Beer & Wine</p></mat-list-item>
        <mat-list-item><p>Behind The Bar</p></mat-list-item>
        <mat-list-item><p>The Basics</p></mat-list-item>
        <mat-list-item><p>News</p></mat-list-item>
        <mat-list-item><p>Shop</p></mat-list-item>
      </mat-list>

      <mat-list>
        <mat-list-item><p>About Us</p></mat-list-item>
        <mat-list-item><p>Terms of Use</p></mat-list-item>
        <mat-list-item><p>Career</p></mat-list-item>
        <mat-list-item><p>Guidelines</mat-list-item>
        <mat-list-item><p>Privacy Policy</p></mat-list-item>
        <mat-list-item><p>Advertise</p></mat-list-item>
        <mat-list-item><p>Contact</p></mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="footer-lower-container">Lower</div>
</div>

<!-- With mat-list: to make two column: -->
<!-- https://stackoverflow.com/questions/58833607/using-angular-list-with-two-columns -->
