.mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.navbar-title:hover {
    cursor: pointer
}

/* Angular Material css*/

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 100;
}
