<div class="sidenav-container">
  <div class="sidenav-upper-heading">
    <mat-icon (click)="toggleSidenav(false)">close</mat-icon>
    <h1>Cocktails</h1>
  </div>
  <mat-divider></mat-divider>
  <mat-list-item><h2>SPIRITS</h2></mat-list-item>
  <mat-nav-list>
    <a mat-list-item routerLink="bourbon" (click)="toggleSidenav(false)"
      >Bourbon</a
    >
    <a mat-list-item routerLink="brandy" (click)="toggleSidenav(false)"
      >Brandy</a
    >
    <a mat-list-item routerLink="gin" (click)="toggleSidenav(false)">Gin</a>
    <a mat-list-item routerLink="liqueur" (click)="toggleSidenav(false)"
      >Liqueur</a
    >
    <a mat-list-item routerLink="rum" (click)="toggleSidenav(false)">Rum</a>
    <a mat-list-item routerLink="rye whiskey" (click)="toggleSidenav(false)"
      >Rye Whiskey</a
    >
    <a mat-list-item routerLink="scotch" (click)="toggleSidenav(false)"
      >Scotch</a
    >
  </mat-nav-list>
</div>
