<div class="cookie-message-container">
  <p>
    <b>We use cookies and similar technologies to improve user experience, and
    analyse activities and performance.</b> To the extent information collected is
    considered personal information, it is collected under the authority of the
    Liquor Control Board of Ontario Act, 2019, SO 2019, c 15, Sch 21, Section 3.
    Questions may be directed to the Senior FOI and Privacy Advisor, Freedom of
    Information and Privacy Office, 100 Queens Quay East, 9th Floor, Toronto,
    Ontario M5E 0C7 or foi.privacy@cocktail.com. For more information, please see
    our Privacy Policy.
  </p>
</div>
