<div class="home-third-component-container">
  <div class="home-third-title-wrapper">
    <h1 class="home-third-component-title">Pumpkin Cocktails</h1>
    <mat-icon color="accent">keyboard_arrow_right</mat-icon>
  </div>
  <div *ngIf="!cardContentLoaded">
    <app-loading-card></app-loading-card>
  </div>
  <div class="home-third-card-wrapper">
    <mat-card *ngFor="let data of cardContent">
      <img src="{{ data.src }}" alt="{{ data.title }}" mat-card-image />
      <mat-card-subtitle>{{ data.subtitle }}</mat-card-subtitle>
      <mat-card-title>{{ data.title }}</mat-card-title>
    </mat-card>
  </div>
  <div *ngIf="cardContentError">
    <app-error-card></app-error-card>
  </div>
</div>
