<div class="home-third-component-container">
  <div class="home-third-title-wrapper">
    <h1 class="home-third-component-title">Pumpkin Cocktails</h1>
    <mat-icon color="accent">keyboard_arrow_right</mat-icon>
  </div>
  <div class="home-third-card-wrapper">
    <mat-card *ngFor="let data of cardContent">
      <img src="{{ data.src }}" alt="{{ data.title }}" mat-card-image />
      <mat-card-subtitle>{{ data.subtitle }}</mat-card-subtitle>
      <mat-card-title>{{ data.title }}</mat-card-title>
    </mat-card>
    <!-- <mat-card>
      <img src="../../../assets/images/PumpkinToddy.jpg" mat-card-image />
      <mat-card-subtitle>BOURBON COCKTAILS</mat-card-subtitle>
      <mat-card-title>Pumpkin Toddy</mat-card-title>
    </mat-card>
    <mat-card>
      <img src="../../../assets/images/PumpkinSazarac.jpg" mat-card-image />
      <mat-card-subtitle>COGNAC</mat-card-subtitle>
      <mat-card-title>Pumpkin Sazarac</mat-card-title>
    </mat-card>
    <mat-card>
      <img src="../../../assets/images/PumpkinBuck.jpg" mat-card-image />
      <mat-card-subtitle>COGNAC</mat-card-subtitle>
      <mat-card-title>Pumpkin Buck</mat-card-title>
    </mat-card> -->
  </div>
</div>
