<div class="home-hero-container">
  <div class="home-hero-content-wrapper">
    <div class="home-hero-inner-wrapper-one">
      <div>
        <div class="image-border">
          <img
            style="width: 100%"
            src="../../../assets/images/ScotchCocktail.jpg"
          />
        </div>
        <div>
          <p>SCOTCH COCKTAILS</p>
          <p>20 Scotch Cocktails to Try Today</p>
        </div>
      </div>
    </div>
    <div class="home-hero-inner-wrapper-two">
      <div class="row">
        <div class="column">
          <div class="image-border">
            <img
              style="width: 100%"
              src="../../../assets/images/BottlesOfScotch.jpg"
            />
          </div>
          <p div-subtitle>SCOTCH</p>
          <p div-title>8 New Single Malts to Try</p>
        </div>
        <div class="column">
          <div class="image-border">
            <img style="width: 100%" src="../../../assets/images/Barware.jpg" />
          </div>
          <p div-subtitle>SCOTCH</p>
          <p div-title>8 New Single Malts to Try</p>
        </div>
      </div>

      <div class="row 2">
        <div class="column">
          <div class="image-border">
            <img
              style="width: 100%"
              src="../../../assets/images/HomeBarBasics.jpg"
            />
          </div>
          <p div-subtitle>SCOTCH</p>
          <p div-title>8 New Single Malts to Try</p>
        </div>
        <div class="column">
          <p>
            Get our best cocktail recipes, tips, and more when you sign up for
            our newsletter.
          </p>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput />
          </mat-form-field>
          <button mat-flat-button color="accent">Sign Up</button>
          <p>
            You can opt-out at any time. For more details, see our Privacy
            Policy
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Decided not to use the Grid List because it flex the content and center 
aligns on both x and y axis -->
