<div class="all-pages-card-container">
  <mat-card
    ><img
      src="../../../assets/images/KentuckyBuck.jpg"
      mat-card-image
    /><mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle
    ><mat-card-title>Kentucky Buck</mat-card-title></mat-card
  >
  <mat-card>
    <img src="../../../assets/images/LeftHand.jpg" mat-card-image />
    <mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle
    ><mat-card-title>Left Hand</mat-card-title>
  </mat-card>
  <mat-card>
    <img src="../../../assets/images/ManhattanVsOld.jpg" mat-card-image />
    <mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle>
    <mat-card-title>Manhattan Vs. Old</mat-card-title>
  </mat-card>
</div>
