<div class="all-page-container">
  <div *ngIf="!cardContentLoaded">
    <app-loading-card></app-loading-card>
  </div>
  <div
    class="all-pages-card-wrapper"
    *ngIf="!cardContentError && cardContentLoaded"
  >
    <mat-card *ngFor="let data of cardContent">
      <img src="{{ data.src }}" alt="{{ data.title }}" mat-card-image />
      <mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle>
      <mat-card-title>{{ data.title }}</mat-card-title>
    </mat-card>
  </div>
  <div
    class="all-pages-error-wrapper"
    *ngIf="cardContentError && cardContentLoaded"
  >
    <app-error-card></app-error-card>
  </div>
</div>
