<!-- Angular Material sidenav - the <mat-sidenav> is the sidenav and
  the <mat-sidenav-content> is the current page in view. -->
<mat-sidenav-container>
  <!-- fixedInViewport prevents the sidenav drawer from 
    scrolling down when moving the outside scrollbar, if the sidenav scroll is available -->
  <mat-sidenav fixedInViewport="true" [(opened)]="sidenavState" mode="over"
    ><app-sidenav-content (closeSidenav)="closeSidenav()"></app-sidenav-content
  ></mat-sidenav>
  <mat-sidenav-content>
    <app-navbar (openSidenav)="openSidenav()"></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
