.home-first-component-container {
    padding-top: 20px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgb(234, 222, 222);
    padding-bottom: 20px;
}
.home-first-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.home-first-component-title {
    text-align: center;
    margin: 0;
}
.home-first-component-card-container {
    display: flex;
    /* flex-basis: 33.333% allows three in a row */
    flex-basis: 33.33333%;
    margin-top: 1rem;
}
.home-first-component-card-container mat-card{
    margin: 0 1rem;
}
mat-grid-tile img {
    width: 100%
}
/* Extra small devices (phones, 700px and down) */
@media screen and (max-width: 700px){
    .home-first-component-title {
        text-align: center;
        margin: 0.2rem 0;
    }
    .home-first-component-card-container {
        display: flex;
        flex-direction: column;
    }
    .home-first-component-card-container mat-card{
        margin: 1rem 0;
    }
}
