<div class="home-first-component-container">
  <div class="home-first-title-wrapper">
    <h1 class="home-first-component-title">The Rob Roy and Riffs</h1>
    <mat-icon color="accent">keyboard_arrow_right</mat-icon>
  </div>
  <div class="home-first-component-card-container">
    <mat-card
      ><img
        src="../../../assets/images/StormKing.jpg"
        mat-card-image
      /><mat-card-subtitle>SCOTCH COCKTAILS</mat-card-subtitle
      ><mat-card-title>Storm King</mat-card-title></mat-card
    >
    <mat-card>
      <img src="../../../assets/images/RobRoy.jpg" mat-card-image />
      <mat-card-subtitle>SCOTCH COCKTAILS</mat-card-subtitle
      ><mat-card-title>Rob Roy</mat-card-title>
    </mat-card>
    <mat-card>
      <img src="../../../assets/images/WhiskyInChurch.jpg" mat-card-image />
      <mat-card-subtitle>SMOKY</mat-card-subtitle>
      <mat-card-title>Whisky in Church</mat-card-title>
    </mat-card>
  </div>

  <div class="home-first-title-wrapper">
    <h1 class="home-first-component-title">What to Purchase</h1>
    <mat-icon color="accent">keyboard_arrow_right</mat-icon>
  </div>
  <mat-grid-list
    [cols]="breakpoint"
    gutterSize="1rem"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile><mat-grid-tile-header>Wine</mat-grid-tile-header>
      <img src="../../../assets/images/WineGlasses.jpg" />
      <mat-grid-tile-footer>The Proseccos</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>Sample</mat-grid-tile>
    <mat-grid-tile
      ><mat-grid-tile-header>Beer</mat-grid-tile-header
      ><img src="../../../assets/images/StoutBeer.jpg" /><mat-grid-tile-footer
        >Great Choices on Stout Beers</mat-grid-tile-footer
      ></mat-grid-tile
    >
  </mat-grid-list>
</div>
